/* Login */
.container-login {
	padding: 5% 0 0 20%;		
}
.form-login {
	width: 400px;
}
/* Correction Space Bottom */
._correct-mgbt {
	margin-bottom: 1em;
}
/* Correction Space Top Invert*/
._correct-mgtop-iv {
	margin-top: -3em;
}
/* Correction Space Top*/
._correct-mgtop {
	margin-top: .5em;
}
.logo-type {
	font-family: 'lora', helvetica, sans-serif;
	font-size: 3.8em;
	font-weight: bold;
	color: #2596D3;
	border-bottom: 1px solid #EEEEEE; 
}