<div class="main">	
	<div class="container-fluid">
		<h2 class="page-header">
			<span>Pacientes</span>
			<%= link_to "Cadastrar Novo Paciente", new_patient_path,    
				class: "_btn-success btn btn-success"%>
		</h2> 
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<h3 class="col-xs-12">Cadastrados</h3>
				</div>
			</div>
			<div class="panel-body">
				<!-- Find -->
				<div class="form-group">				
					<div class="row">								
						<label class="_mp _lbw control-label col-sm-1 col-lg-1">Buscar por</label>	
						<select class="form-control _select 
							_mp col-sm-2 col-lg-2" id="select_search">
							<option value="name">Nome do paciente</option>
							<option value="email">E-mail</option>
							<option value="cellphone">Telefones</option>
						</select>	
						<div class="input-group col-sm-5 col-lg-5">
							<input type="text" placeholder="Buscar..."
								id="search_patients" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-default _btnc _find"
									id="btn_search_patients">
									<span class="input-group-bt"></span>
								</button>
							</span>
						</div>					
					</div>	
					<div class="row form-group">
						<label class="_mp _lbw control-label col-sm-1 col-lg-1">Filtrar por</label>
						<select class="form-control _select _mp col-sm-2 col-lg-2"
							id="filter_patients">
							<option value="todos">Todos os pacientes</option>
							<option value="agenda">Agendamentos de hoje</option>
							<option value="male">Sexo masculino</option>
							<option value="female">Sexo feminino</option>
						</select>
					</div>
					<div class="row _container-table table-responsive">				
						<div class="alert alert-warning" role="alert"
							id="no_patients">
							<p>Não há pacientes cadastrados até o momento</p>
						</div> 				    	
						<table class="table table-condensed" id="grid_patient">
							<thead>
								<tr>
									<th>Nome</th>
									<th>E-mail</th>
									<th>Telefone</th>	
									<th>Convenio</th>															
									<th>Ultima consulta</th>
								</tr>
							</thead>
							<tbody id="content_patients">
								<%= render 'patients' %>								 
							</tbody>
						</table>													
					</div><!-- form-group -->
				</div><!-- form-group -->
				<div class="simple_pagination"></div>
			</div><!-- panel-body -->	
		</div><!-- panel panel-default -->
	</div><!-- container-fluid -->	
</div><!-- main -->