/* Change in FullCalendar start */
.fc-left h2{
	font-size: 1.5em;
}
/* Header and border-left */
.fc-day-header, .fc-axis {
	background-color: #F5F5F5;
	color: #222;
	padding: 1em 0;
}
/* Increases cell */
.fc-time-grid .fc-slats td {
	height: 2.5em;
}
/* end */

/* Change jQuery Dialog start */
.ui-widget-header {
    background: #222222;
    color: white; 
}
.btn-success .ui-button-text,
.btn-danger .ui-button-text, 
.btn-info .ui-button-text {
	color: white;
	border-radius: .25em;	
}
.btn-success .ui-button-text {
	background-color: #449D44;
}
.btn-info .ui-button-text {
	background-color: #31B0D5;
}
.btn-danger .ui-button-text {
	background-color: #C9302C;
}
.btn-warning .ui-button-text {
	background-color: #EC971F;
	color: white;
}  
.ui-button {	
	outline: none !important; 
	border: none !important; 
	background: transparent !important;
}
.ui-widget-overlay.custom-overlay {
    background-color: black;
    background-image: none;
    opacity: .4;  
}
/* Correction width */
._cw {
	width: 95% !important; 
}
#error_message {	
	padding: 10px !important;
}
/* end */

/* Invisible form to new Consults */
#new_consult {
	display: none; 
}