<div class="container-fluid container-login">
	<div class="form-login">		
		<h1 class="logo-type">MedConecta</h1>
		<fieldset>
			<div class="form-group">
				<label class="control-label _correct-mgbt" for="user_email">E-mail</label>
				<input placeholder="Seu endereço de e-mail" class="form-control" type="text" name="user[email]" id="user_email">
			</div>
			<div class="form-group _correct-mgtop-iv">
				<label class="control-label _correct-mgbt" for="user_password">Senha</label>
				<input placeholder="Sua senha" class="form-control" type="password" name="user[password]" id="user_password">
			</div>
			<div class="checkbox" style="margin-top: -10px">
				<label>
					<input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
					Manter-me conectado
				</label>
			</div>
			<div class="row" style="margin-top: 25px">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<%= 
						link_to "Entrar", index_patients_path,
								class: "btn btn-success btn-block"
					%>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 _correct-mgtop">
					<a class="btn btn-default btn-block" href="/users/sign_up">Cadastre-se</a>
				</div>
			</div>
			<hr>
			<p style="margin-top: -6px"><a href="/users/password/new">Esqueceu a senha?</a></p>
		</fieldset>
	</div>
</div>