<div id="error_message"
	class="alert alert-warning" role="alert">
</div>
<div class="form-group">							    		
	<label class="control-label _sl col-sm-2 col-lg-2">Nome</label>
	<div class="col-sm-9 col-lg-9">												
		<input type="text" class="form-control namePatient">						
	</div>
</div>
<div class="form-group">							    		
	<label class="control-label _sl col-sm-2 col-lg-2">E-mail</label>
	<div class="col-sm-9 col-lg-9">
		<input type="text" class="form-control emailPatient">						
	</div>
</div>
<div class="form-group">							    											    	
	<label class="control-label _sl col-sm-2 col-lg-2">Telefone</label>
	<div class="col-sm-4 col-lg-4">
		<input type="text" class="form-control telephonePatient">								
	</div>
	<label class="control-label _sl col-sm-1 col-lg-1">Celular</label>
	<div class="col-sm-4 col-lg-4">
		<input type="text" class="form-control _cw cellphonePatient"> 								
	</div>
</div>
<div class="form-group">							    		
	<label class="control-label _sl col-sm-2 col-lg-2">Data</label>
	<div class="col-sm-4 col-lg-4">
		<input type="text" class="form-control dateFormatConsult">								
		<input type="hidden" class="form-control dateConsult">
	</div>
</div>
<div class="form-group">							    		
	<label class="control-label _sl col-sm-2 col-lg-2">Horario</label>
	<div class="col-sm-3 col-lg-3">												
		<input type="text" class="form-control hourIniConsult">
	</div>
	<label class="col-sm-1 col-lg-1">as</label>
	<div class="col-sm-3 col-lg-3">												
		<input type="text" class="form-control hourEndConsult">
	</div>											
</div>