<div class="main">	 
	<div class="container-fluid">
		<h2 class="page-header">
			<span>Agenda</span>
			<button type="button"
				class="_btn-success btn btn-success"
				id="agenda_consulta">
				Agendar consulta
			</button>			
		</h2> 
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<h3 class="col-xs-12">Consultas</h3>
				</div>
			</div>
			<div class="panel-body">					
				<div class="form-group">
					<!-- Calendar -->				
					<div class="row">
						<div class="col-sm-12 col-lg-12">						
							<div id="calendar"></div>
							<div id="new_consult">
								<%= render partial: "consult"%>
							</div>
							<%
								weekStart = Date.today.beginning_of_week
								weekEnd   = weekStart + 4
							%>
							<%= hidden_field_tag 'weekStart', weekStart %>						
							<%= hidden_field_tag 'weekEnd', weekEnd %> 
						</div>
					</div>														
				</div><!-- form-group -->
			</div><!-- panel-body -->	
		</div><!-- panel panel-default -->
	</div><!-- container-fluid -->	
</div><!-- main -->