/* Fonts for Customization and Optimization */
@font-face {
  font-family: 'lora';
  src: url('../lora.ttf');
}
@font-face {
  font-family: 'lato';
  src: url('../lato.ttf');
}
@font-face {
  font-family: 'dash';
  src: url('../dash.woff?37659449') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'star';
  src: url('../star.woff?68918500') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'users';
  src: url('../users.woff?56650422') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'patients';
  src: url('../patients.woff?25556889') format('woff');
  font-weight: normal;
  font-style: normal;
} 
@font-face {
  font-family: 'insurance';
  src: url('../insurance.woff?79683613') format('woff');
  font-weight: normal;
  font-style: normal;
} 
@font-face {
  font-family: 'calendar';
  src: url('../calendar.woff?13433766') format('woff');
  font-weight: normal;
  font-style: normal;
} 
@font-face {
  font-family: 'charts';
  src: url('../charts.woff?23929682') format('woff');
  font-weight: normal;
  font-style: normal;
} 
@font-face {
  font-family: 'reports';
  src: url('../reports.woff?80148170') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'config';
  src: url('../config.woff?87694979') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'find';
  src: url('../find.woff?95576706') format('woff');
  font-weight: normal;
  font-style: normal;
} 
@font-face {
  font-family: 'rightarrow';
  src: url('../rightarrow.woff?17654297') format('woff');
  font-weight: normal;
  font-style: normal;
} 
@font-face {
  font-family: 'leftarrow';
  src: url('../leftarrow.woff?1910729') format('woff');
  font-weight: normal;
  font-style: normal;
} 
/* end */