<aside class="sidebar">
	<ul class="nav nav-sidebar">
		<li><a href="#" class=""><span class="_panel"></span>Painel</a></li>
		<li><a href="#" class=""><span class="_calendar"></span>Agenda</a></li> 
		<li><a href="#" class=""><span class="_users"></span>Pacientes</a></li>
		<li><a href="#" class=""><span class="_charts"></span>Graficos</a></li> 
		<li><a href="#" class=""><span class="_reports"></span>Relatorios</a></li>
		<li><a href="#" class=""><span class="_config"></span>Configuraçoes</a></li>
	</ul>
</aside>